<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        Copyright © <a href="https://kaan.xyz/" target="_blank"> Kaan Aydogan</a> 2020
    </div>
</footer>