<!DOCTYPE html>

<html>
    <head>
        <%- include('./partials/head') -%>
    </head>

    <body>
        <%- include('./partials/navbar') -%>

        <div id="home-container" class="container">
            <h1 class="display-4">403 - Forbidden</h1>
            <small class="form-text text-muted" id="subtitle"><br/>You do not have permission to access this resource.</small>
        </div>

        <%- include('./partials/scripts') -%>
    </body>

    <%- include('./partials/footer') -%>
</html>