<!DOCTYPE html>

<html>
    <head>
        <%- include('./partials/head') -%>
    </head>

    <body>
        <%- include('./partials/navbar') -%>

        <div id="home-container" class="container">
            <h1 class="display-4"> 404 - Page Not Found</h1>
            <small class="form-text text-muted" id="subtitle"><br/>If you&#39;re here from a shortened link, you may want to let the owner know that it does not exist.</small>
        </div>

        <%- include('./partials/scripts') -%>
    </body>

    <%- include('./partials/footer') -%>
</html>